# Ignore IntelliJ project-specific files
.idea/**/workspace.xml
.idea/**/usage.statistics.xml
.idea/**/tasks.xml
.idea/**/shelf/
.idea/**/libraries/

# Ignore .iml files
*.iml

# Ignore build directories
/out/
target/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

#exclude zip files
*.zip